div.dialog-hot-detail {
    div.dialog-content {
        height: 450px;
        display: flex;
        overflow: hidden;
        overflow-y: scroll;
        flex-direction: column;

        div.news-item {
            width: 100%;
            height: 32px;
            display: flex;
            min-height: 32px;
            cursor: pointer;
            overflow: hidden;
            margin-bottom: 10px;
            align-items: center;
            animation: app-text-show 0.3s forwards ease-in-out;

            div.item-num {
                width: 28px;
                height: 28px;
                min-width: 28px;
                font-size: 14px;
                color: #333333;
                line-height: 28px;
                text-align: center;
                margin-right: 8px;
                border-radius: 4px;
                background-color: rgb(239, 239, 245);
            }

            &:nth-child(1) {
                div.item-num[data-value="1"] {
                    color: #ffffff;
                    background-color: #ea444d;
                }
            }

            &:nth-child(2) {
                div.item-num[data-value="2"] {
                    color: #ffffff;
                    background-color: #ed702d;
                }
            }

            &:nth-child(3) {
                div.item-num[data-value="3"] {
                    color: #ffffff;
                    background-color: #eead3f;
                }
            }

            div.item-content {
                height: 28px;
                padding-left: 8px;
                border-radius: 4px;
                width: calc(100% - 38px);

                p.item-text {
                    width: 100%;
                    font-size: 16px;
                    color: #333333;
                    text-align: left;
                    overflow: hidden;
                    line-height: 28px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                &:hover {
                    background-color: rgb(239, 239, 245);
                }
            }
        }
    }
}