div.home-header {
    width: 100%;
    height: 80px;
    display: flex;
    margin: 40px 0;
    padding: 0 25px;
    align-items: center;

    img.app-logo {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    span.app-title {
        line-height: 1;
        font-size: 24px;
        color: #333333;
        margin-left: 15px;
        font-weight: bold;
        white-space: nowrap;
    }

    div.button-list {
        display: flex;
        margin-left: auto;
        align-items: center;

        button.el-button {
            margin-left: 20px;
            border-radius: 8px;
        }
    }
}

@media screen and (max-width: 600px) {
    div.home-header {
        justify-content: center;

        div.button-list {
            display: none!important;
        }
    }
}