div.home-footer {
    width: 100%;
    height: 65px;
    display: flex;
    margin: 40px 0;
    padding: 0 25px;
    align-items: center;
    justify-content: space-between;

    div.beian-box {
        display: flex;
        line-height: 0;
        color: #333333;
        align-items: center;

        img.beian {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    div.home-footer {
        height: unset;
        padding: 15px 0;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;

        div.beian-box {
            margin: 5px 0;
            line-height: unset;
        }
    }
}