div.news-card {
    opacity: 0;
    cursor: pointer;
    transform: translateY(20px);
    animation: app-card-show 0.3s forwards ease-in-out;

    div.card-header {
        padding: 20px;
        display: flex;
        font-size: 14px;
        align-items: center;

        img.app-logo {
            width: 24px;
            height: 24px;
        }

        span.app-name {
            color: #333333;
            margin-left: 10px;
        }

        span.app-type {
            color: #999999;
            margin-left: auto;
        }

        div.el-skeleton {
            width: auto;
            margin-left: auto!important;
        }
    }

    div.card-content {
        height: 320px;
        padding: 0 20px;
        overflow: hidden;
        overflow-y: scroll;

        div.result-box {
            height: 100%;

            div.el-result {
                height: 100%;
            }
        }

        div.news-item {
            width: 100%;
            height: 32px;
            display: flex;
            overflow: hidden;
            margin-bottom: 10px;
            align-items: center;
            animation: app-text-show 0.3s forwards ease-in-out;

            div.item-num {
                width: 24px;
                height: 24px;
                min-width: 24px;
                font-size: 14px;
                color: #333333;
                line-height: 24px;
                text-align: center;
                border-radius: 4px;
                margin-right: 10px;
                background-color: rgb(239, 239, 245);
            }

            &:nth-child(1) {
                div.item-num {
                    color: #ffffff;
                    background-color: #ea444d;
                }
            }

            &:nth-child(2) {
                div.item-num {
                    color: #ffffff;
                    background-color: #ed702d;
                }
            }

            &:nth-child(3) {
                div.item-num {
                    color: #ffffff;
                    background-color: #eead3f;
                }
            }

            div.item-content {
                height: 32px;
                width: calc(100% - 34px);

                p.item-text {
                    width: 100%;
                    color: #333333;
                    overflow: hidden;
                    line-height: 32px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    div.card-footer {
        padding: 20px;
        display: flex;
        color: #999999;
        font-size: 14px;
        align-items: center;

        div.button-list {
            display: flex;
            margin-left: auto;
            align-items: center;

            i.el-icon {
                margin-left: 20px;
            }
        }
    }
}